@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");
:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
  --oxford-blue: #011936ff;
  --black-coral: #465362ff;
  --morning-blue: #82a3a1ff;
  --dark-sea-green: #9fc490ff;
  --granny-smith-apple: #c0dfa1ff;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #e8ebf5;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}

.chat-box {
  height: 90%;
  width: 400px;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 15;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
  right: 0;
  bottom: 0;
  margin: 15px;
  background: #fff;
  border-radius: 15px;
}

.chat-box-body {
  height: 85%;
  background: #f8f8f8;
  overflow-y: scroll;
  padding: 12px;
}
.chat-box-body-send {
  width: 250px;
  float: right;
  background: var(--granny-smith-apple);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
  margin-bottom: 14px;
  animation: message-sent-push 0.5s ease-in-out;
}
.chat-box-body-send p {
  margin: 0;
  color: #444;
  font-size: 14px;
  margin-bottom: 0.25rem;
}
.chat-box-body-send span {
  float: right;
  color: #777;
  font-size: 10px;
}
.chat-box-body-receive {
  width: 250px;
  float: left;
  background: var(--morning-blue);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
  margin-bottom: 14px;
  animation: message-received-push 0.5s ease-in-out;
}
.chat-box-body-receive p {
  margin: 0;
  color: #eee;
  font-size: 14px;
  margin-bottom: 0.25rem;
}
.chat-box-body-receive span {
  float: right;
  color: #eee;
  font-size: 10px;
}
.chat-box-body::-webkit-scrollbar {
  width: 5px !important;
  opacity: 0 !important;
}

.chat-box-body > div::-webkit-scrollbar {
  width: 5px !important;
  opacity: 0 !important;
}
.chat-box-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.chat-box-footer button {
  border: none;
  padding: 16px;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

.chat-box-footer button:focus {
  outline: none;
}

.chat-box-footer button svg {
  transition: 0.2s all ease-in;
}

.chat-box-footer button:hover svg {
  scale: 1.2;
  fill: var(--dark-sea-green);
}

.chat-box-footer button:active svg {
  scale: 1;
  fill: var(--oxford-blue);
}

.chat-box-footer input {
  padding: 10px;
  border: none;

  border-radius: 50px;
  background: whitesmoke;
  margin: 10px;
  font-family: ubuntu;
  font-weight: 600;
  color: #444;
  width: 280px;
}
.chat-box-footer input:focus {
  outline: none;
}

@keyframes message-sent-push {
  0% {
    opacity: 0;
    transform: translate(0, 1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes message-received-push {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
