@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --primary-font: "Roboto", sans-serif;
  /* --oxford-blue: #011936ff;
  --black-coral: #465362ff;
  --morning-blue: #82a3a1ff;
  --dark-sea-green: #9fc490ff;
  --granny-smith-apple: #c0dfa1ff;
  
  --orange-color: #f17732;
  --secondary-blue: #565acf; */
  --dark-blue: #1f2278;
  --blue: #0188df;
  --black: #354046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--black);
  color: #fff;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #e8ebf5;
  padding: 0;
  margin: 0;
  margin-top: 0 !important;
  font-family: var(--primary-font);
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  background-color: #fff;
}

section,
footer,
header {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 2.5rem 0;
}
a {
  text-decoration: none limportant;
}
li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  text-align: center;
  border-radius: 4px;

}

section,
footer,
header {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 2.5rem 0;
}
a {
  text-decoration: none limportant;
}
li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  text-align: center;
  border-radius: 4px;
}

.row {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}